.about-us-section {
  padding-bottom: 0;
}

.about-us-list-header {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: $title-light-theme-color;
}

.about-us-list {
  display: flex;
  justify-content: space-between;
}

.about-us-list-item {
  width: 270px;
}

.about-us-list-img-block {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.about-us-icon {
  width: 70px;
  height: 70px;
}
.about-us-list-text {
  margin-top: 0px;
  margin-bottom: 0px;
}
