/* МОДАЛЬНОЕ ОКНО */

.modal-backgdrop {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
}

.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;

  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: white;
  &-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal-form-header {
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: $title-light-theme-color;
}

.modal-form-input-area {
  margin-left: 40px;
  margin-right: 40px;
}

.modal-form-input-wrapper {
  position: relative;
  margin-bottom: 28px;
}

.modal-form-input-wrapper-textarea {
  position: relative;
  margin-bottom: 0px;
}

.modal-form-input-wrapper .textarea {
  margin-bottom: 0;
}
.modal-form-label {
  position: absolute;
  top: 50%;
  left: 42px;

  transform: translateY(-50%);

  line-height: 1.15;
  letter-spacing: 0.01em;

  transition-property: transform fill;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.modal-form-input {
  position: relative;
  padding-left: 42px;
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:focus ~ .modal-form-icon {
    fill: $accent-color;
  }

  &:focus + .modal-form-label,
  &:not(:placeholder-shown) + .modal-form-label {
    left: 16px;
    top: -4px;
    transform: translateY(-100%);
    font-size: 12px;
    line-height: 1.17;
    color: $accent-color;
  }
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: $title-light-theme-color;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.modal-check-for-policy {
  position: absolute;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal-user-comment {
  position: relative;
  width: 100%;
  height: 120px;
  resize: none;
  padding-top: 12px;
  padding-left: 16px;
  margin-bottom: 20px;
}

.comment-lable {
  position: absolute;
  top: 12px;
  left: 16px;

  line-height: 1.15;
  letter-spacing: 0.01em;

  transition-property: transform fill;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.modal-user-comment:focus ~ .comment-lable,
.modal-user-comment:not(:placeholder-shown) ~ .comment-lable {
  top: -4px;
  transform: translateY(-100%);
  font-size: 12px;
  line-height: 1.17;
  color: $accent-color;
}

.modal-policy {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.policy-link {
  color: $accent-color;
}

.modal-for-custom-checkbox {
  display: inline-flex;
  opacity: 0;
  margin-left: 13px;
  margin-right: 7px;

  transition-property: transform opacity;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.modal-for-custom-checkbox-unchecked {
  position: absolute;
  top: 2px;
  margin-left: 13px;
  margin-right: 7px;

  transition-property: transform opacity;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.modal-check-for-policy:checked ~ .modal-for-custom-checkbox {
  opacity: 1;
}

.modal-check-for-policy:checked ~ .modal-for-custom-checkbox-unchecked {
  opacity: 0;
}

.modal-for-custom-text {
  display: inline-flex;
}
.submit-btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  padding-left: 55px;
  padding-right: 55px;
}
