.active-page {
  color: $accent-color;
  padding-bottom: 0px;
}

.active-page::after {
  display: block;
  margin-top: 28px;
  width: auto;
  height: 4px;
  background-color: $accent-color;
  content: "";
  border-radius: 2px;
  opacity: 1;
}
