$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$title-dark-theme-color: #ffffff;
$title-light-theme-color: #212121;
$modal-btn-color: #2196f3;
$modal-btn-text-color: #ffffff;
$text-dark-theme-color: rgba(255, 255, 255, 0.6);
$text-light-theme-color: #757575;
$accent-color: #2196f3;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$portfolio-butto-color: #f5f4fa;
